   
html, body{
	height:100%;
	margin:0;
	padding:0;
	background: white url("../../media/backgroundRecorder.jpg") no-repeat;
	background-size:cover;
}

h1 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }


h2 { color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 80px; font-weight: 800; line-height: 40px; margin: 0 0 44px; text-align: center; }


p { color: #f8f8f8; font-family: 'Raleway',sans-serif; font-size: 35px; font-weight: 500; line-height: 50px; margin: 0 0 24px; }


.btn {
	margin-top: 25px;
	padding-left: 35px;
	padding-right: 35px; 
	color: rgba(0, 167, 221, 1);
	font-weight: 900;
	font-size: 30px;
}
.btn:hover {
	color: rgba(0, 167, 250, 1);
}



.transBg {
	height: 100vh;
	background: rgba(0, 167, 221, 0.70);
}
 
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}



/*h2 {
	font-size: 46px;
	font-weight: 400;
	color: #fff;
}*/

.carouselText {
	text-align: center;
}

#myCarousel { 
	width: 100%;
	overflow: hidden;
	padding-bottom: 9px;
}
#myCarousel ul {
	list-style: none;
	position: relative;
	float: left;
	display: block;
	left: 50%;
}
#myCarousel ul li {
	position: relative;
	float: none;
	display: block;
	right: 50%;
}

