
html, body{
	height:100%;
	margin:0;
	padding:0;
	background: white url("../../media/backgroundRecorder.jpg");
	background-size:cover;
}

.container-fluid{
  height:100%;
  width: 100%;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.transBg {
	height: 400vh;
	background: rgba(0, 167, 221, 0.70);
}

.jumbotron {
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.clear {
	clear: both;
}
