{% load static %}

<!doctype html>
<html>
<head>
	<title>Interview AI</title>

	<link rel="stylesheet" type="text/css" href="{% static "Interviewer/style/css/bootstrap.css" %}">
	<script type="text/javascript" src="{% static "Interviewer/style/js/jquery.min.js" %}"></script>
	<script type="text/javascript" src="{% static "Interviewer/style/js/bootstrap.min.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "Interviewer/style/css/styleReport.css" %}">

</head>

<body>
	<div class="transBg">
		<img src="{% static "Interviewer/userMedia/freq.png" %}", alt="wordFreqGraph">
		HELLO WORLD
		<img src="{% static "Interviewer/userMedia/emo.png" %}", alt="wordFreqGraph">
		{{average_velocity}}
	</div>
</body>

</html>
